<%-include("../includes/header.ejs", {title:"Account - View All"}); %>

<h1>Accounts</h1>
    <a href="/account/insertAccount">Add New Account</a>
    <br />
    <br />

    <table border="1">
        <th>Email</th><th>Actions</th></tr>

        <%for(var i=0; account.length > i; i++) {%>
        <tr>
            <td><a href = "/account/?account_id=<%=account[i].account_id%>"><%=account[i].email %></a></td>
            <td>
                <button onclick="event.preventDefault();window.location.href='/account/editAccount/?account_id=<%=account[i].account_id%>'">Edit</button>
                <form action="/account/deleteAccount/" style="...">
                    <input type="hidden" name="account_id" id="account_id" value="<%=account[i].account_id%>" />
                    <input type="submit" value="Delete"/>
                </form>
            </td>
        </tr>
        <% } %>
    </table>
<%- include("../includes/footer.ejs");%>
