<%- include("../includes/header.ejs", {title: "Update " + resume.resume_name}); %>

<!-- never gets reached -->
<h1>Edit <%= resume.resume_name%></h1>
<form action="/resume/editOldResume" method="get">
    <input type="hidden" id="resume_id" name="resume_id" value="<%= resume.resume_id %>">
    Name: <input id="resume_name" name="resume_name" type="text" value="<%= resume.resume_name%>"/>
    <br />
    <br />
    

    <input type="submit" />

</form>

<%- include("../includes/footer.ejs"); %>

</html>
