<%-include("../includes/header.ejs", {title: "Skills - View All"});%>
<h1>Skills</h1>
    <a href="/skills/insertSkill">Add New Skill</a>
    <br />
    <br />

    <table border="1">
        <th>Name</th><th>Actions</th></tr>
        <%for (var i = 0; skill.length > i; i++) {%>
        <tr>
            <td><a href = "/skills/?skill_id=<%=skill[i].skill_id%>"><%=skill[i].skill_name%></a></td>
            <td>
                <button onclick="event.preventDefault();window.location.href='/skills/editSkill/?skill_id=<%=skill[i].skill_id%>'">Edit</button></button>
                <form action="/skills/deleteSkills/" style="...">
                    <input type="hidden" name="skill_id" id="skill_id" value="<%=skill[i].skill_id%>" />
                    <input type="submit" value="Delete" />
                </form>
            </td>
        </tr>
        <% } %>
    </table>
<%- include("../includes/footer.ejs");%>
