<%-include("../includes/header.ejs", {title:"Address - View All"}); %>

<h1>Address</h1>
    <a href="/address/insertAddress">Add New Address</a>
    <br />
    <br />

    <table border="1">
        <th>Email</th><th>Actions</th></tr>

        <%for(var i=0; address.length > i; i++) {%>
        <tr>
            <td><a href = "/address/?address_id=<%=address[i].address_id%>"><%=address[i].street %></a></td>
            <td>
                <button onclick="event.preventDefault();window.location.href='/address/editAddress/?address_id=<%=address[i].address_id%>'">Edit</button>
                <form action="/address/deleteAddress/" style="...">
                    <input type="hidden" name="address_id" id="address_id" value="<%=address[i].address_id%>" />
                    <input type="submit" value="Delete"/>
                </form>
            </td>
        </tr>
        <% } %>
    </table>
<%- include("../includes/footer.ejs");%>
