<%-include("../includes/header.ejs", {title: "School - View All"});%>
<h1>Schools</h1>
<a href="/school/insertSchool">Add New School</a>
<br />
<br />

<table border="1">
    <th>School</th><th>Actions</th>

    <%for (var i = 0; school.length > i; i++) {%>
    <tr>
        <td><a href="/school/?school_id=<%=school[i].school_id%>"><%=school[i].school_name%></a></td>
        <td>
            <button onclick="event.preventDefault();window.location.href='/school/editSchool/?school_id=<%=school[i].school_id%>'">Edit</button>
            <form action="/school/deleteSchool/" style="...">
                <input type="hidden" name="school_id" id="school_id" value="<%=school[i].school_id%>" />
                <input type="submit" value="Delete"/>
            </form>
        </td>
    </tr>
    <% } %>
</table>
<%- include("../includes/footer.ejs");%>
</html>
